# ASSIGNMENT-1

In [ ]:
#Q1.
'''1. What are the differences between operators and values in the following?
*
'hello'
-87.8
-
/
+
6'''
#Ans.
'''The operators are always represented with the special characterslike *,-,/,+ and values are always represented with the integer
or string value like 'hello',-87.8,6'''

In [ ]:
#Q2
'''2. What is the difference between string and variable?
spam
'spam'
'''

#Ans
""""A String is always enclosed in single or double quotes where a variable is simply represented without any quotes from the 
above question spam is Variable and 'spam' represents String ss"""

In [ ]:
#Q3
#3. Describe three different data forms.

#Ans
#  Boolean Data: The data which return True or False 
#String Data: The data which cobntains series of characters or numbers enclosed in quotes.
#Integer Data: The data which contains only Numbers
#Floating point Data: The data which contains Decimals.

In [ ]:
#Q4
#4. What makes up an expression? What are the functions of all expressions?
'''An expression is a combination of values, variables, and operators. If you type an expression on the command line, 
the interpreter evaluates it and displays the result'''

In [5]:
#Q5
'''5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and 
an expression?
'''
#Ans
spam=10
spam=spam+10
spam

20

In [7]:
#Q6
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
bacon
#Ans
#22

22

In [10]:
#Q7
#7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

#Ans
#'spamspamspam'
#'spamspamspam'

'spamspamspam'

In [13]:
#Q8
#8. Why is it that eggs is a true variable name but 100 is not?
#Ans
# A variable name  should not start with number if so it leads to syntax error.so 100 is not considered as variablename
# As eggs is a variable name without starting with the integer it is a true variable.

In [ ]:
#Q9
#9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

#No options found in questionare.

In [15]:
#Q10
#10. What is the error caused by this expression? What would you do about it?

#'I have eaten ' + 99 + ' burritos.'


#Ans
#It throws  typeerror : str can only concatenate with str not with int.
#to concatinate convert the int to str by enclosing between the quotes.

'I have eaten ' +'99' + ' burritos.'

'I have eaten 99 burritos.'